
    body { font-family: sans-serif; }
    table, td, th { border: 1px solid blue; }
    .itemInstock { background: green; }
    .itemOutofStock { background: red; }
    .blackBackground { background: black; }
    .whiteText { color: #FFF; }
    .middle { margin-left: auto; margin-right: auto; }
    .middle1 {text-align: center;}
    .50width { width: 100%; height: 100%; }

